### List and It's Methods 
#### Lists are used to store multiple items in a single variable.
#### It is a collection which is ordered, changeable and allows duplicate members.
#### List Methods
append(), sort(), reverse(), remove(), pop(), insert(), index(), extend(), count(), copy(), clear()

In [24]:
fruits = ['apple', 'banana', 'mango']
fruits.append('orange')
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [4]:
fruits.insert(1, 'orange')
print(fruits)

['apple', 'orange', 'banana', 'mango', 'orange']

In [5]:
fruits.pop(1)
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [6]:
fruits.remove('orange')
print(fruits)

['apple', 'banana', 'mango']

In [7]:
fruits.reverse()
print(fruits)

['mango', 'banana', 'apple']

In [8]:
fruits.sort()
print(fruits)

['apple', 'banana', 'mango']

In [9]:
fruits.index('apple')

0

In [10]:
fruits.count('apple')

1

In [11]:
fruits.clear()
print(fruits)

[]

### String and it's Methods
#### All string methods returns new values. 
#### They do not change the original string String Methods
isalpha(), isalnum(), index(), find(), count(), capitalize(), isdigit(), islower(), isnumeric()
endswith(), upper(), title(), swapcase(), strip(), startswith(), split(), join(), lower(), replace()

In [12]:
txt = "hello, and welcome to our course."
a = txt.capitalize()
print(a)

Hello, and welcome to our course.

In [ ]:
txt = "I am from India and born in Hyderabad, India"
b = txt.count("India")
print(b)

In [14]:
txt = "I love mangoes, mangoes are my favorite fruit"
c = txt.find("apple")
print(c)

-1

In [15]:
d = txt.index("apple")
print(d)

ValueError: substring not found

In [18]:
txt = "hello,my name is sai,I am 24 years old"
e = txt.split(',')
print(e)

['hello', 'my name is sai', 'I am 24 years old']

In [20]:
txt = "Cherry12"
name = txt.isalnum()
print(name)

True

In [21]:
txt = "mango"
alpha = txt.isalpha()
print(alpha)

True

In [25]:
txt = '50800'
num = txt.isdigit()
print(num)

True

In [27]:
names = ["sai", "ravi", "neji"]
joined = "_".join(names)
print(joined)

sai_ravi_neji

In [28]:
txt = "I love sports"
result = txt.replace("sports", "cricket")
print(result)

I love cricket

In [29]:
txt = 'RAMULU'
a = txt.isupper()
print(a)

True

In [37]:
txt = "my name is ravi, iam 24 years old, iam good boy"
b = txt.split(', ')
print(b)

['my name is ravi', 'iam 24 years old', 'iam good boy']

In [38]:
txt = 'ramulu'
c = txt.title()
print(c)

Ramulu

In [44]:
txt ='  Ramulu  '
d = txt.strip()
d

'Ramulu'

In [47]:
txt ='Ramulu'
d = txt.replace('l','d')
d

'Ramudu'