<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1157]:
# create empty list, name it 'a'
a = []

In [1158]:
# print the value of a

print(a)

[]

In [1159]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [1160]:
languages = ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [1161]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [1162]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [1163]:
temp = languages[1]

Print the value of temp and type(temp)

In [1164]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [1165]:
languages.append('java')
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'java']

Remove the element 42 from the list and print the list

In [1166]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [1167]:
colors = ['red','blue','white']

Append the element 'Black' to colors

In [1168]:
colors.append('black')
print(colors)

['red', 'blue', 'white', 'black']

Append the color 'Orange' to second position (index=1) and print the list

In [1169]:
colors.insert(1,'orange')

Print the list

In [1170]:
print(colors)

['red', 'orange', 'blue', 'white', 'black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [1171]:
colors2 = ['grey','sky blue']

Add the elements of colors2 to colors using extend function in the list

In [1172]:
colors.extend(colors2)
print(colors)

['red', 'orange', 'blue', 'white', 'black', 'grey', 'sky blue']

Print len of colors and its elements

In [1173]:
print(len(colors))
print(colors)

7
['red', 'orange', 'blue', 'white', 'black', 'grey', 'sky blue']

Sort the list and print it.

In [1174]:

colors.sort()
print(colors)

['black', 'blue', 'grey', 'orange', 'red', 'sky blue', 'white']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [1175]:
sent = 'Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [1176]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [1177]:
words_lower = sent.lower()
print(words_lower)

coronavirus caused lockdowns around the world

Check whether ‚Äòcountry‚Äô is in the list

In [1178]:
words = ['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']
new_word = 'country'
print(new_word in words)

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [1179]:
words.pop(4)
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [1180]:
x4 = words[:4]

In [1181]:
# print x4
print(x4)

['Coronavirus', 'Caused', 'Lockdowns', 'Around']

Convert the list of elements to single string using join function and print it

In [1182]:
''.join(x4)

'CoronavirusCausedLockdownsAround'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [1183]:
 stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [1184]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [1185]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [1186]:
print(stud_grades_set)

{'A', 'F', 'C', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [1187]:

print(type(stud_grades))
print(type(stud_grades_set))
print(stud_grades)
print(stud_grades_set)

<class 'list'>
<class 'set'>
['A', 'A', 'B', 'C', 'C', 'F']
{'A', 'F', 'C', 'B'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [1188]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [1189]:
stud_grades_set.add('F')
print(stud_grades_set)

{'C', 'A', 'G', 'F', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [1190]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [1191]:
print(stud_grades_set)
print(len(stud_grades_set))

{'C', 'A', 'G', 'B'}
4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [1192]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [1193]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [1194]:
colors_set = set(colors)
fruits_set = set(fruits)

Find the union of both the sets.

In [1195]:
print(colors_set.union(fruits_set))

{'blue', 'orange', 'red', 'apples', 'grapes'}

Find the intersection of both the sets

In [1196]:
print(colors_set.intersection(fruits_set))

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [1197]:
print(fruits_set.difference(colors_set))

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [1198]:
temp = [17, 'virat', 50.0]

Iterate through temp and print all the items in temp

In [1199]:
for i in temp:
    print(i)

17
virat
50.0

replace first element with 11 in temp

In [1200]:
temp[0] = 11
print(temp)

[11, 'virat', 50.0]

Set temp1 = tuple(temp)

In [1201]:
temp1 = tuple(temp)
print(temp1)

(11, 'virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [1202]:
for i in temp1:
    print(i)

11
virat
50.0

replace first element with 17 in temp1

In [1203]:
temp1[0] = 17
print(temp1)

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [ ]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [ ]:
city[0]

'Bangalore'

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [ ]:
city2 = ('chennai', 30.01,74)

Create cities which consist of city and city2

In [ ]:
cities = [city, city2]

Print cities

In [ ]:
print(cities)

[('Bangalore', 28.9949521, 72), ('chennai', 30.01, 74)]

Print type of first element in cities

In [ ]:
type(cities[0][0])

str

print the type of cities

In [ ]:
type(cities)

list

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
d = {'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print the value of d[0]

In [ ]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [ ]:
actor = d['actor']

Print the type of actor

In [ ]:
actor

'amir'

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [ ]:
list = list(d)

Print the type of List.

In [ ]:
print(type(list))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [ ]:
d1 = {'singer':'Kr$na', 'album':'Still here', 'genre':'hip-hop'}

Merge d1 into d.

In [ ]:
d.update(d1)
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

print d

In [ ]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [ ]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor----> amir)

In [ ]:
d = {'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}
for key, value in d.items():
    print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [1204]:
sent = 'Coronavirus Caused Lockdowns Around The World.'
char_counts = {}
for char in sent:
    if char.isalpha():
        char = char.lower()
        if char in char_counts:
            char_counts[char] += 1
        else:
            char_counts[char] = 1
for char, count in char_counts.items():
    print(f"'{char}': {count}")

'c': 3
'o': 6
'r': 4
'n': 3
'a': 3
'v': 1
'i': 1
'u': 3
's': 3
'e': 2
'd': 4
'l': 2
'k': 1
'w': 2
't': 1
'h': 1